Data Science Fundamentals: R |
[Table of Contents](../index.ipynb)
- - - 
<!--NAVIGATION-->
Module 14. [Introduction](./00.ipynb) | [Basic Syntax](./01.ipynb)  | [Data Types](./02.ipynb) | [Variables](./03.ipynb) | [Operators](./04.ipynb) | [Decision Making](./05.ipynb)  | [Functions](./06.ipynb) | [Strings](./07.ipynb) | [Vectors](./08.ipynb) | [Lists](./09.ipynb) | [Matrices](./10.ipynb) | [Arrays](./11.ipynb) | [Factors](./12.ipynb) | [Data Frames](./13.ipynb) | [Data Reshaping](./14.ipynb)  | [Exercises](./15.ipynb)

# Module 15: Practice Exercises

### [RNA-Sequence Data](https://cran.r-project.org/web/packages/UCSCXenaTools/vignettes/USCSXenaTools.html)

### [More RNA-Sequence Data](http://www.liuzlab.org/TCGA2STAT/)

## Exercise 1.

### Creating vectors/factors and dataframes

We are performing RNA-Seq on cancer samples being treated with three different types of treatment (A, B, and P). You have 12 samples total, with 4 replicates per treatment. Write the R code you would use to construct your metadata table as described below.

- Create the vectors/factors for each column (Hint: you can type out each vector/factor, or if you want the process go faster try exploring the rep() function).
- Put them together into a dataframe called meta.
- Use the rownames() function to assign row names to the dataframe (Hint: you can type out the row names as a vector, or if you want the process go faster try exploring the paste() function).

Your finished metadata table should have information for the variables sex, stage, treatment, and myc levels:

In [7]:
#To install magrittr & dplyr libraries among other tools:
# - install.packages("tidyverse")
# To Install just magrittr:
# - install.packages("magrittr")

In [4]:
meta[]

ERROR: Error in eval(expr, envir, enclos): object 'meta' not found

In [5]:
library(magrittr)
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [3]:
sex <- c("M", "F", "M", "F", "M", "F", "M", "F", "M", "F", "M", "F")
stage <- c("I", "II", "II", "I", "II", "II", "I", "II", "II", "I", "II", "II")
treatment <- c("A", "A", "A", "A", "B", "B", "B", "B", "P", "P", "P", "P")
myc <- c(2343, 457, 4593, 9035, 3450, 3524, 958, 1053, 8674, 3424, 463, 5105)

In [6]:
meta <- data.frame(sex, stage, treatment, myc)

In [10]:
rownames(meta) <- paste("sample12", 1:12, sep=" ")

![images](images/exercise1.png)

## Exercise 2.

### Subsetting vectors/factors and dataframes

Using the meta data frame from question #1, write out the R code you would use to perform the following operations (questions DO NOT build upon each other):

- return only the treatment and sex columns using []:
- return the treatment values for samples 5, 7, 9, and 10 using []:
- use filter() to return all data for those samples receiving treatment P:
- use filter()/select()to return only the stage and treatment columns for those samples with myc > 5000:
- remove the treatment column from the dataset using []:
- remove samples 7, 8 and 9 from the dataset using []:
- keep only samples 1-6 using []:
- add a column called pre_treatment to the beginning of the dataframe with the values T, F, F, F, T, T, F, T, F, F, T, T (Hint: use cbind()):
- change the names of the columns to: “A”, “B”, “C”, “D”:

In [9]:
meta[ , c(1,3)]

           sex treatment
sample121  M   A
sample122  F   A
sample123  M   A
sample124  F   A
sample125  M   B
sample126  F   B
sample127  M   B
sample128  F   B
sample129  M   P
sample1210 F   P
sample1211 M   P
sample1212 F   P

In [11]:
meta[c(5,7,9,10), 3]

[1] B B P P
Levels: A B P

In [12]:
filter(meta, treatment == "P")

  sex stage treatment myc
1 M   II    P         8674
2 F   I     P         3424
3 M   II    P          463
4 F   II    P         5105

In [13]:
filter(meta, myc > 5000) %>% select(stage, treatment)

  stage treatment
1 I     A
2 II    P
3 II    P

In [14]:
meta[, -3]

            sex stage myc
sample12 1  M   I     2343
sample12 2  F   II     457
sample12 3  M   II    4593
sample12 4  F   I     9035
sample12 5  M   II    3450
sample12 6  F   II    3524
sample12 7  M   I      958
sample12 8  F   II    1053
sample12 9  M   II    8674
sample12 10 F   I     3424
sample12 11 M   II     463
sample12 12 F   II    5105

In [15]:
meta[-7:-9, ]

            sex stage treatment myc
sample12 1  M   I     A         2343
sample12 2  F   II    A          457
sample12 3  M   II    A         4593
sample12 4  F   I     A         9035
sample12 5  M   II    B         3450
sample12 6  F   II    B         3524
sample12 10 F   I     P         3424
sample12 11 M   II    P          463
sample12 12 F   II    P         5105

In [16]:
meta [1:6, ]

           sex stage treatment myc
sample12 1 M   I     A         2343
sample12 2 F   II    A          457
sample12 3 M   II    A         4593
sample12 4 F   I     A         9035
sample12 5 M   II    B         3450
sample12 6 F   II    B         3524

In [17]:
pre_treatment <- c(T, F, F, F, T, T, F, T, F, F, T, T)
     
cbind(pre_treatment, meta)

            pre_treatment sex stage treatment myc
sample12 1   TRUE         M   I     A         2343
sample12 2  FALSE         F   II    A          457
sample12 3  FALSE         M   II    A         4593
sample12 4  FALSE         F   I     A         9035
sample12 5   TRUE         M   II    B         3450
sample12 6   TRUE         F   II    B         3524
sample12 7  FALSE         M   I     B          958
sample12 8   TRUE         F   II    B         1053
sample12 9  FALSE         M   II    P         8674
sample12 10 FALSE         F   I     P         3424
sample12 11  TRUE         M   II    P          463
sample12 12  TRUE         F   II    P         5105

In [19]:
colnames(meta) <- c("A", "B", "C", "D")

In [9]:
filter(meta, myc > 5000) %>% select(stage, treatment)

         stage treatment
sample4  I     A
sample9  II    P
sample12 II    P

         sex stage myc
sample1  M   I     2343
sample2  F   II     457
sample3  M   II    4593
sample4  F   I     9035
sample5  M   II    3450
sample6  F   II    3524
sample7  M   I      958
sample8  F   II    1053
sample9  M   II    8674
sample10 F   I     3424
sample11 M   II     463
sample12 F   II    5105

         sex stage treatment myc
sample1  M   I     A         2343
sample2  F   II    A          457
sample3  M   II    A         4593
sample4  F   I     A         9035
sample5  M   II    B         3450
sample6  F   II    B         3524
sample10 F   I     P         3424
sample11 M   II    P          463
sample12 F   II    P         5105

        sex stage treatment myc
sample1 M   I     A         2343
sample2 F   II    A          457
sample3 M   II    A         4593
sample4 F   I     A         9035
sample5 M   II    B         3450
sample6 F   II    B         3524

         pre_treatment sex stage treatment myc
sample1   TRUE         M   I     A         2343
sample2  FALSE         F   II    A          457
sample3  FALSE         M   II    A         4593
sample4  FALSE         F   I     A         9035
sample5   TRUE         M   II    B         3450
sample6   TRUE         F   II    B         3524
sample7  FALSE         M   I     B          958
sample8   TRUE         F   II    B         1053
sample9  FALSE         M   II    P         8674
sample10 FALSE         F   I     P         3424
sample11  TRUE         M   II    P          463
sample12  TRUE         F   II    P         5105

         A B  C D
sample1  M I  A 2343
sample2  F II A  457
sample3  M II A 4593
sample4  F I  A 9035
sample5  M II B 3450
sample6  F II B 3524
sample7  M I  B  958
sample8  F II B 1053
sample9  M II P 8674
sample10 F I  P 3424
sample11 M II P  463
sample12 F II P 5105

### [John Hopkins University: Free R Course](https://www.coursera.org/learn/r-programming?specialization=data-science-foundations-r)